.about.section
  .container.section__container
    .about__main
      .about-alex__wrapper
        .about__alex 
          .about__alex__text Who is Alex?
          .about__alex__rot
            svg 
              circle(cx="50%" cy="50%" r="calc(50% - 5px)")
        .about__item.about__born
          .about__item__icon
            svg
              use(xlink:href="#child")
          .about__item__secondary Born in
          .about__item__main 1995
        .about__item.about__from
          .about__item__icon
            svg
              use(xlink:href="#home")
          .about__item__secondary From
          .about__item__main Kiev, Ukraine
        .about__item.about__listen
          .about__item__icon
            svg
              use(xlink:href="#music")
          .about__item__secondary Listens to
          .about__item__main Rock, Classical 
        .about__item.about__play
          .about__item__icon
            svg
              use(xlink:href="#play")
          .about__item__secondary Plays the
          .about__item__main Piano
        .about__item.about__love
          .about__item__icon
            svg
              use(xlink:href="#heart")
          .about__item__secondary Passionate about
          .about__item__main Traveling
        .about__item.about__passion
          .about__item__icon
            svg
              use(xlink:href="#star")
          .about__item__secondary Enjoys
          .about__item__main Web Dev
        
        
      
  
