.contact.section
  .container.section__container.contact__container
    //- .contact__nick.contact__type
    //-   | @thealexmosk
    .contact__social.contact__type
      a.social__item(href="https://vk.com/thealexmosk")
        svg
          use(xlink:href="#vk")
      a.social__mobile.social__item(href="fb://profile/thealexmosk")
        svg
          use(xlink:href="#facebook-square")
      a.social__desktop.social__item(href="https://facebook.com/thealexmosk")
        svg
          use(xlink:href="#facebook-square")
      a.social__item(href="http://instagram.com/_u/thealexmosk")
        svg
          use(xlink:href="#instagram")
      a.social__item(href="https://github.com/thealexmosk")
        svg
          use(xlink:href="#github")
    
    .contact__email.contact__type
      | thealexmosk@gmail.com
