.edu_exp.section
  .container.section__container
    .edu_exp__container
      .edu.story__container
        .edu_exp__title
          | Education
        .story.story__kpi  
          .story__point.point__2012.point__begin
            svg
              circle(cx="3" cy="3" r="3")
          .story__point.point__2014.point__end
            svg
              circle(cx="3" cy="3" r="3")
          .story__line.line__2012-2014
            svg
              line( x1="3" y1="3" x2="3" y2="80")
          .story__line.line__2014-wt
            svg
              path( d="m3,3 c 3,25 30,3 30,45")

          .story__main
            .story__place KPI : Computer Science
            .place__position Student
        .story.story__wt
          .story__point.point__wt
            svg
              use(xlink:href="#plane")
          .story__line.line__wt-2014
            svg
              path( d="m3,3 c 3,25 30,3 30,45")
                
          .story__main
            .story__place Work & Travel USA
            .place__position Sales Assistant
            
        .story.story__kneu
          .story__point.point__2014.point__begin
            svg
              circle(cx="3" cy="3" r="3")
          .story__point.point__2017.point__end
            svg
              circle(cx="3" cy="3" r="3")
          .story__line.line__2014-2017
            svg
              line( x1="3" y1="3" x2="3" y2="135")
          .story__main
            .story__place KNEU: Economics & Management
            .place__position Student
          .story__point.point__java
            svg
              circle(cx="3" cy="3" r="3")
          .story__java
            .story__place Java SE Course
            
      .exp.story__container
        .edu_exp__title
          | Experience
        .story.story__nerdify  
          .story__point.point__2016-sep.point__begin.exp__point
            svg
              circle(cx="3" cy="3" r="3")
          .story__point.point__2016-nov.point__end.exp__point
            svg
              circle(cx="3" cy="3" r="3")
          .story__line.line__2016-sep--2016-nov
            svg
              line( x1="3" y1="3" x2="3" y2="80")
          .story__main
            .story__place Nedify
            .place__position Customer Support
            .place__respons Education online support in English
        .story.story__livres
          .story__point.point__2017-mar.point__end.exp__point
            svg
              circle(cx="3" cy="3" r="3")
          .story__line.line__2016-nov--2017-mar
            svg
              line( x1="3" y1="0" x2="3" y2="110")
          .story__main
            .story__place Livingston Research
            .place__position Research Writer
            .place__respons Mathematical & statistical analysis
            .place__respons English research papers writing
        .story.story__goodwin
          .story__point.point__2018-apr.point__end.exp__point
            svg
              circle(cx="3" cy="3" r="3")
          .story__line.line__2017-mar--2018-apr
            svg
              line( x1="3" y1="0" x2="3" y2="160")
          .story__main
            .story__place Goodwin Soft
            .place__position Web Developer
            .place__respons Stack: 
              ul.respons__list
                li.respons__item PHP + Symfony
                li.respons__item JS + jQuery
                li.respons__item HTML5, CSS3 + less
                li.respons__item Git
                li.respons__item SQL (MySQL)
        .story.story__freelance
          .story__point.point__2018-aug.point__end.exp__point
            svg
              circle(cx="3" cy="3" r="3")
          .story__line.line__2018-apr--2018-aug
            svg
              line( x1="3" y1="0" x2="3" y2="180")
          .story__main
            .story__place Freelance
            .place__position Web Developer
            .place__respons Stack:
              ul.respons__list
                li.respons__item PHP + Laravel
                li.respons__item JS, jQuery
                li.respons__item Node.js
                li.respons__item HTML5, CSS3 + sass
                li.respons__item SQL (MySQL)
                li.respons__item UI/UX Design
        .story.story__own-2018
          .story__line.line__2018-aug--inf
            svg
              line( x1="3" y1="0" x2="3" y2="180")
          .story__main
            .story__place Own projects
            .place__position Frontend Dev & Media Prod
            .place__respons Stack:
              ul.respons__list
                li.respons__item UI/UX Design
                li.respons__item HTML5, CSS3
                li.respons__item JS, Node.js, Vue.js
                li.respons__item PS [PremierePro/AfterEffects]

        
