title Portfolio | alexMosk
meta(charset="utf-8")

meta(content="alexmosk" name="author")
meta(content="Welcome to my personal portfolio page" name="description")

meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
meta(name="HandheldFriendly" content="true")
meta(name="format-detection", content="telephone=no")
meta(content="IE=edge" http-equiv="X-UA-Compatible")
meta(name="robots" content="index")

link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.2/fullpage.min.css")
link(rel="stylesheet", href= "assets/css/main.css")
