.intro.section
  .container.intro__container
    .intro__text
      .intro__name
        .name__first
          span.name--main Alex
          span.name--secondary ander
        .name__last
          span.name--main Mosk
          span.name--secondary alenko
      .intro__description
        ul.description
          li.description__item Frontend Dev
          li.description__item Vue.js
          li.description__item UI/UX
  .intro__photo
    img.photo__asset(src="assets/images/me_draw.png")
