.skills.section
  .container.skills__container.section__container
    .section__title.skills__title Skills
    //- .skills__show-type.show-type
    //-   .show-type__item.show-type__item--current List
    //-   .show-type__item Illustration
    .skills__main
      .skills__category
        .skills__category__title Languages
        .skill
          span.skill__name English
          span.skill__desc (fluent)
        .skill
          span.skill__name Russian
          span.skill__desc (native)
        .skill
          span.skill__name Ukrainian
          span.skill__desc (native)
      .skills__category
        .skills__category__title Dev Stack
        .skill
          span.skill__name HMTL5
        .skill
          span.skill__name CSS3
        .skill
          span.skill__name Bootstrap
        .skill
          span.skill__name JS
          span.skill__desc (ES 5-6)
        .skill
          span.skill__name jQuery && UI
        .skill
          span.skill__name Vue.js
          span.skill__desc (novice)
        .skill
          span.skill__name Node.js
        .skill
          span.skill__name OOP
        .skill
          span.skill__name PHP
          span.skill__desc (5.6-7.^)
        .skill
          span.skill__name Laravel
        .skill
          span.skill__name Symfony
        .skill
          span.skill__name SQL
          span.skill__desc (MySQL)
        .skill
          span.skill__name noSQL
          span.skill__desc (novice)
        .skill
          span.skill__name Linux
        .skill
          span.skill__name Java
          span.skill__desc (novice)
          
      .skills__category
        .skills__category__title Graphics & Design
        .skill
          span.skill__name UI/UX
        .skill
          span.skill__name Photoshop
        .skill
          span.skill__name Illustrator
          span.skill__desc (novice)
        .skill
          span.skill__name Premiere/AfterEffects
          span.skill__desc
          
      .skills__category
        .skills__category__title Other
        .skill
          span.skill__name Creative
        .skill
          span.skill__name Responsible
        .skill
          span.skill__name Driven to Learn
        .skill
          span.skill__name Problem-solver
        .skill
          span.skill__name Teamworker
        .skill
          span.skill__name Sociable
        .skill
          span.skill__name Ambitious
        .skill
          span.skill__name Positive :)
          
      .skills__illustration
